.navbar {
    height: 77px;
    padding: 26px 40px;
    width: 100%;
    border-bottom: solid 1px #E6E6E6;
}

.logo {
    background-image: url('/assets/Eye_of_Horus_Right.png');
    width: 165px;
    height: 70px;
    float: left;
    background-repeat: no-repeat
}
.button{
    border: solid 1px #E6E6E6;
    margin-left: 50px;
}