<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>
      <a href="#" (click)="sair()" style="margin-left: 25px">Sair</a>
    </div>
  </div>  
</nav>

<app-menu></app-menu>
  
  <div class="container"  style="margin-top: -410px" >
    <app-publicacoes-perfil #publicacoes></app-publicacoes-perfil>   
    <app-incluir-perfil-publicacao (atualizarTimeLine)="atualizarTimeLine()"></app-incluir-perfil-publicacao>
  </div>

  <button  style="width: 50%; margin-left: 25% ; margin-top: 7%" type="button" class="btn btn-primary btn-lg btn-block" (click)="doRecognition()" >  Cadastrar faces </button>