<div class="container" >
  <div class="row" >
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]='estadoBanner'>
      <app-banner ></app-banner>
    </div>
    <div  *ngIf="cadastro; else formLogin" >
      <div  class="col-sm-6 d-flex justify-content-start float-left" [@animacao-painel]= "estadoPainel">  
          <div class="classWithPad2">
          <app-cadastro (exibirPainel)='exibirPainel($event)' ></app-cadastro>
        </div>
      </div>
    </div>
    <ng-template #formLogin>
        <div  class="col-sm-6 d-flex justify-content-start float-right" [@animacao-painel]= "estadoPainel">
          <div class="classWithPad">
         
          <app-login (exibirPainel)='exibirPainel($event)'></app-login>
        </div>
      </div>
    </ng-template>
    </div>  

</div>