<div class="row" >
  <div class="col-md-4 justify-content-center" *ngFor = "let publicacao of publicacoes">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>{{publicacao.nome_usuario}}</strong></p>
      </div>

      <img class="card-img" [src]= "publicacao.url_imagem || '' "  />
      
      <div class="card-body">
        <p class="card-text">
          <strong>{{publicacao.nome_usuario}}</strong> {{publicacao.titulo}}
        </p>
      </div>
      
    </div>
    <br /><br />
  </div>
</div>