
 <div class="row" kendoContextMenuTargetContainer #target="kendoContextMenuTargetContainer">
  <div class="col-md-4 justify-content-center" *ngFor = "let publicacao of publicacoes">
    <div class="card">
      <div class="card-body" [kendoContextMenuTarget]="publicacao">
        <p class="card-text"><strong>{{publicacao.nome_usuario}}</strong></p>
      </div>

      <img class="card-img" [src]= "publicacao.url_imagem || '' "  />
      
      <div class="card-body">
        <p class="card-text">
          <strong>Face a reconhecer: </strong> {{publicacao.titulo}}
          <br /><br />
          <strong style="padding-top: 10%" >ID: </strong> {{publicacao.id}}
        </p>
      </div>
    
    </div>
    
  </div>
</div>
<kendo-contextmenu (select)="onSelect($event)" [target]="target" [items]="items"> </kendo-contextmenu> 