/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

body{
    background: #FAFAFA
}

.ng-sidebar {
    background: #FAFAFA !important;
    margin-top: 5%;
    width: 200px;
}